{% extends "global/base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row d-flex justify-content-around">
        <h1 class="mt-5 text-dark text-center text-md-start">Cultos</h1>
        {% for service in services %}
            <div class="col-10 col-sm-4 col-md-4 d-flex justify-content-center align-items-center service m-3 my-5">
                {% if service.image %}
                    <img src="{{ service.image.url }}" alt="{{ service.title }}" class="bg-img">
                {% else %}
                    <img src="{% static 'global/images/foto-1.png' %}" alt="Background" class="bg-img">
                {% endif %}
                <a href="{% url "service:details" service.id %}">
                    <h3 class="py-2 px-5">{{ service.title }}</h3>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}