{% load static %}

<footer style="background-image: url('{% static "global/images/textura-header.jpeg" %}'); background-repeat: repeat; background-size: auto" class="mt-5">
    <div class="container">
        <div class="row justify-content-around py-3">     
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
            </div>
            <br>
            <br>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
            </div>
            <br>
            <br>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
                <h5 class="m-3">lorem ipsum</h5>
            </div>
        </div>
    </div>
</footer>